body, ul, li {
  padding:0;
  margin:0;
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-size: 16px;
}

body > div {
  width : 100%;
  min-height : 2000px;
  overflow : auto;
  padding-right : 20px;
  position : relative;
}

.data-table {
  width: 960px;
  max-height: 600px;
  margin: 0 auto;
  background-color: lighten(rgb(200,200,200),30%);

  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  transition:all ease-in-out .3s;

  ul {
    &.header {
      display: inline-flex;
      width: 100%;

      li {
        width: 100%;

        transition: all ease-in-out 0.5s;
      }
    }

    &.body {
      display: inline;
      width: 100%;

      li {
        width: 100%;
        max-height: 60px;
        padding: 10px 0;
        vertical-align: middle;

        border: 1px solid #CCC;

        transition: all ease-out 0.3s;

        &.status-in {
          background-color: white;
        }

        &.status-out {
          background-color: lighten(rgb(45,45, 192),45%);
        }

        &.status-warning {
          background-color: lighten(yellow,40%);
        }

        &.status-error {
          background-color: lighten(red,40%);
        }

        ul {
          width: 100%;
          display:inline-flex;
          border:none;
          li {
            border: none;
          }
        }
      }

      .more {
        text-align:center;
        transition: all ease-in-out 0.2s;
        color: rgba(0,0,0,0.35);
      }

      .model {
        font-size: larger;
        padding-top: 7px;
        font-weight:bold;
      }

      .manufacturer {
        color: rgba(0,0,0,0.45);
      }

      .serial {
        text-transform: uppercase;
      }

      .serial::before {
        color: rgba(0,0,0,0.4);
        content:'S/N:  '
      }

      .statusbubbles {
        display:inline;

        svg {
          width:30px;
        }
      }

      .loading-text {
        text-align:center;
        padding-top:200px;
        font-weight:bold;
        color: rgba(0,0,0,0.2);
        font-size:6rem;
        vertical-align:middle;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        transition:all ease-in-out .3s;

        opacity: 1;
      }
      .item-details {
        opacity: 1;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        transition:all ease-in-out .3s;
      }
    }
    list-style: none;
  }
}

.menu-open {
  height: 600px;
  max-height: 600px;
  min-height: 600px;

  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;

  .more {
    width:50px;
    height:50px;
    color: black;
    opacity: 1;
    visibility: visible;
    z-index: 20;
  }
}
.icon-menu3 {
  width: 1.375em;
}

.icon-menu4 {
  width: 1.375em;
}


.more::before {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.3);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}