body,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-size: 16px;
}
body > div {
  width: 100%;
  min-height: 2000px;
  overflow: auto;
  padding-right: 20px;
  position: relative;
}
.data-table {
  width: 960px;
  max-height: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.data-table ul {
  list-style: none;
}
.data-table ul.header {
  display: inline-flex;
  width: 100%;
}
.data-table ul.header li {
  width: 100%;
  transition: all ease-in-out 0.5s;
}
.data-table ul.body {
  display: inline;
  width: 100%;
}
.data-table ul.body li {
  width: 100%;
  max-height: 60px;
  padding: 10px 0;
  vertical-align: middle;
  border: 1px solid #CCC;
  transition: all ease-out 0.3s;
}
.data-table ul.body li.status-in {
  background-color: white;
}
.data-table ul.body li.status-out {
  background-color: #dcdcf7;
}
.data-table ul.body li.status-warning {
  background-color: #ffffcc;
}
.data-table ul.body li.status-error {
  background-color: #ffcccc;
}
.data-table ul.body li ul {
  width: 100%;
  display: inline-flex;
  border: none;
}
.data-table ul.body li ul li {
  border: none;
}
.data-table ul.body .more {
  text-align: center;
  transition: all ease-in-out 0.2s;
  color: rgba(0, 0, 0, 0.35);
}
.data-table ul.body .model {
  font-size: larger;
  padding-top: 7px;
  font-weight: bold;
}
.data-table ul.body .manufacturer {
  color: rgba(0, 0, 0, 0.45);
}
.data-table ul.body .serial {
  text-transform: uppercase;
}
.data-table ul.body .serial::before {
  color: rgba(0, 0, 0, 0.4);
  content: 'S/N:  ';
}
.data-table ul.body .statusbubbles {
  display: inline;
}
.data-table ul.body .statusbubbles svg {
  width: 30px;
}
.data-table ul.body .loading-text {
  text-align: center;
  padding-top: 200px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  font-size: 6rem;
  vertical-align: middle;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  opacity: 1;
}
.data-table ul.body .item-details {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.menu-open {
  height: 600px;
  max-height: 600px;
  min-height: 600px;
  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.menu-open .more {
  width: 50px;
  height: 50px;
  color: black;
  opacity: 1;
  visibility: visible;
  z-index: 20;
}
.icon-menu3 {
  width: 1.375em;
}
.icon-menu4 {
  width: 1.375em;
}
.more::before {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
