<img style="position:relative; left: 30px; top:30px;" src="http://placehold.it/350x270">

<div class="description" style="width: 350px; height: 200px; overflow:hidden; position: relative; top: 50px; left: 30px;"><strong>Description</strong>
    <div style="text-align: justify; padding-left:10px;">{{element.description}}</div>
</div>

<div class="column1" style="display: inline-block; position:relative; left: 400px; top: -440px; width: 27%; height: 270px; background-color: mediumpurple;"></div>
<div class="column2" style="display: inline-block; position:relative; left: 420px; top: -440px; width: 27%; height: 270px; background-color: orangered;"></div>

<img style="display: inline-block; position:relative; left: 400px; top: -420px; width: 56.5%; height: 180px;" src="http://placehold.it/540x180">

<!--<div class="tallrow" style="display: inline-block; position:relative; left: 400px; top: -420px; width: 56.5%; height: 180px; background-color: darkblue;"></div>';-->